javascript:
  Ext.require('Ext4app.stores.UserStore');
  Ext.onReady(function() {
    new Ext4app.stores.UserStore({
      pageSize: 30,
      storeId: 'ext4app.users',
      autoLoad: true
    });
    var v = new Ext.container.Viewport({
      layout: 'border',
      items: [{
        region: 'center',
        xtype: 'grid',
        store: Ext.data.StoreMgr.get('ext4app.users'),
        title: 'Listing Users',
        headers: [
          {text: 'Name', dataIndex: 'name', width: 380, sortable: true},
          {text: 'Age', dataIndex: 'age', width: 40, align: 'right', sortable: true}
        ],
        split: false,
        columnLines: true,
        viewConfig: { stripeRows: true }
      }, {
        region: 'south',
        xtype: 'pagingtoolbar',
        store: Ext.data.StoreMgr.get('ext4app.users'),
        displayInfo: true,
        prependButtons: true
      }]
    });
  });