<script type="text/javascript" charset="utf-8">
  Ext.Loader.onReady(function() {
    Ext.define('Ext4app.UserStore', {
      extend: 'Ext.data.Store',
      constructor: function(config) {
        config = config || {};
        config.model = 'Ext4app.User';
        config.remoteSort = true;
        this.callParent([config]);
      }
    });

    Ext.define('Ext4app.UserGrid', {
      extend: 'Ext.grid.GridPanel',
      alias: 'widget.usergrid',
      initComponent: function() {
        this.headers = [
          {text: 'Name', dataIndex: 'name', width: 380, sortable: true},
          {text: 'Age', dataIndex: 'age', width: 40, align: 'right', sortable: true}
        ];
        this.store = new Ext4app.UserStore({
          pageSize: 25,
          storeId: 'users',
          autoLoad: true
        });
        this.dockedItems = [
          new Ext.toolbar.PagingToolbar({
            dock: 'bottom',
            store: Ext.data.StoreMgr.get('users'),
            displayInfo: true,
            prependButtons: true
          })
        ];
        this.callParent();
      }
    });
  }, false);

  Ext.onReady(function() {
    var userPanel = new Ext.panel.Panel({
      renderTo: 'users-list',
      title: 'Listing Users',
      items: [
        {
          xtype: 'usergrid',
          columnLines: true,
          width: 420,
          height: 640,
          viewConfig: {
            stripeRows: true
          }
        }
      ]
    });
  });
</script>

<div id="users-list"></div>

<%#= link_to 'Show', user %>
<%#= link_to 'Edit', edit_user_path(user) %>
<%#= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %>

<%#= link_to 'New User', new_user_path %>
