<!DOCTYPE html>
<html>
<head>
  <title>Ext4app</title>
  <%= stylesheet_link_tag :defaults, 'scaffold' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
